/* Base styles for the entire page */
/* Remove default browser margins and padding */
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box; /* Includes padding/borders in total size */
    }

    .full-page-div {
      width: 100vw;
      height: 100vh;
	  border: 5px solid #025073; 
	  padding: 60px;
    }
	
	body {
	font-family: 'Roboto', sans-serif; 
	color: #025073;
	background-color: lightskyblue; 
    font-family: Arial, sans-serif;
}
